@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}


<main class="form-signin w-100 m-auto">
    <form method="post" novalidate>
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Sign in to @Model.organization!.Name</h1>

    <div class="form-floating">
            <input asp-for="FormData!.Username" type="text" class="form-control" id="floatingInput" placeholder="">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
            <input asp-for="FormData!.Password" type="password" class="form-control" id="floatingPassword" placeholder="">
            <input type="hidden" name="id" value="@Model.organization!.Id" />
      <label for="floatingPassword">Password</label>
    </div>
    
@*
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>*@
    <button class="w-100 btn btn-lg btn-primary" type="submit" method="post">Sign in</button>
        <p class="mt-3 mb-3">Powered by <a href="https://protolms.com">ProtoLMS</a></p>
    <p class="mt-3 mb-3 text-muted">&copy; 2023 ProtoLMS</p>
  </form>
</main>